    <footer>
      <h3>Top companies choose <span>E-Learning</span> to build in-demand career skills.</h3>
      <div class="f-line"></div>
       <div class="row f-box">
        <div class="col-md-8 col-8">
          <div class="row ">
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Teach with us</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Career</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Terms</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">About Us</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Blog</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Privacy Policy</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="/contact">Contact Us</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Help And Support</a>
            </div>
            <div class="col-md-4 col-6 f-sub-box">
               <a class="f-a" href="">Cookie Setting</a>
            </div>
          </div>
        </div>
       </div>
    </footer>