<section id="testimonial_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testmonial_slider_area text-center owl-carousel">
                    <div class="box-area">	
                        <div class="img-area">
                            <img src="../public/images/persons/p1.svg" alt="">
                        </div>	
                        <h5>Person's name</h5>
                        <span>Designation Goes Here</span>									
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                            ever since
                        </p>
                        <h6 class="socials">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                        </h6>
                    </div> 
                
                    <div class="box-area">	
                        <div class="img-area">
                            <img src="../public/images/persons/p2.svg" alt="">
                        </div>	
                        <h5>Person's name</h5>
                        <span>Designation Goes Here</span>									
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                            ever since
                        </p>
                        <h6 class="socials">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                        </h6>
                    </div> 
                
                    <div class="box-area">	
                        <div class="img-area">
                            <img src="../public/images/persons/p3.svg" alt="">
                        </div>	
                        <h5>Person's name</h5>
                        <span>Designation Goes Here</span>									
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                            ever since
                        </p>
                        <h6 class="socials">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                        </h6>
                    </div> 
                
                    <div class="box-area">	
                        <div class="img-area">
                            <img src="../public/images/persons/p4.svg" alt="">
                        </div>	
                        <h5>Person's name</h5>
                        <span>Designation Goes Here</span>									
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                            ever since
                        </p>
                        <h6 class="socials">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                        </h6>
                    </div> 
                
                    <div class="box-area">	
                        <div class="img-area">
                            <img src="../public/images/persons/p5.svg" alt="">
                        </div>	
                        <h5>Person's name</h5>
                        <span>Designation Goes Here</span>									
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                            ever since
                        </p>
                        <h6 class="socials">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                        </h6>
                    </div> 
                
                    <div class="box-area">	
                        <div class="img-area">
                            <img src="../public/images/persons/p6.svg" alt="">
                        </div>	
                        <h5>Person's name</h5>
                        <span>Designation Goes Here</span>									
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                            ever since
                        </p>
                        <h6 class="socials">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                        </h6>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>